<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: 'Nombre del producto' }) %>
        <link rel="stylesheet" href="/styles/productDetail.css">
</head>

<body>
    <%- include('../partials/navbar') %>
        <main class="product-hero hero--padding">
            <div class="product-hero__image">
                <img src="/images/products/<%= product.dataValues.Image.dataValues.path %>" alt="" srcset="">
            </div>
            <div class="product-hero__copy">
                <div class="product-hero__breadcrumb">
                    <a href="/" class="breadcrumb__page">Home</a>
                    <a href="#" class="breadcrumb__page">
                        <%= product.dataValues.Grape.dataValues.name %>
                    </a>
                    <a href="#" class="breadcrumb__page">
                        <%= product.dataValues.Brand.dataValues.name %>
                    </a>
                </div>
                <h1 class="product-hero__title">
                    <%= product.name %>
                </h1>
                <h2 class="product-hero__price">$ <%= product.price %>
                </h2>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" class="product__form">
                    <p class="product__form__title">Quantity:</p>
                    <div class="product__form__qty">
                        <button type="button" class="qty__button minus">-</button>
                        <input type="number" name="quantity" id="quantity" class="qty__input" min="1" max="12"
                            value="1">
                        <button type="button" class="qty__button plus">+</button>
                    </div>
                    <button type="submit" class="btn btn--primary btn--qty">Add to cart</button>
<<<<<<< HEAD
                    <% if(loggedUser !== undefined && loggedUser.role_id == 1) { %>                           
                         <a href="/products/productEdit/<%= product.id %>" class="btn btn--primary btn--qty">Edit</a>
                    <% }  %>
                                    
=======
                    <% if(loggedUser.role_id == 1) { %>                         
                    <a href="/products/productEdit/<%= product.id %>" class="btn btn--primary btn--qty">Edit</a>
                    <button type="submit" class="btn btn--primary btn--qty delete">Delete</button>
                    <% } %> 
>>>>>>> ddf2a531b67cb56652edb15a71d3295ca7bf75ef
                </form>
                <p class="product-hero__description">
                    <%= product.description %>
                </p>
            </div>
        </main>

        <section class="suggestions section--padding">
            <h3 class="suggestions__title">Our suggestions</h3>
            <div class="section--cards">
                <% recommendations.forEach((product)=> { %>
                    <%- include('../partials/card', { product: product }) %>
                        <% }); %>
                </div>
        </section>

        <%- include('../partials/footer') %>

            <script src="/javascripts/utilities.js"></script>
</body>

</html>