<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: 'Nombre del producto' }) %>
        <link rel="stylesheet" href="/styles/productCreate.css">
</head>

<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

        <section class="section--padding main__container">
            <form class="inputs__container form" action="/products" method="POST" enctype="multipart/form-data">
                <h1 class="form__title">Upload a new product</h1>

                <div class="form__group">
                    <label for="name" class="form__label">Name</label>
                    <input type="text" name="name" id="name" class="form__input" value="<%= locals.old && old.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <small class="form__message">
                            <%= errors.name.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="price" class="form__label">Price</label>
                    <input type="number" name="price" id="price" class="form__input"
                        value="<%= locals.old && old.price %>">
                    <% if (locals.errors && errors.price) { %>
                        <small class="form__message">
                            <%= errors.price.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="brand" class="form__label">Brand</label>
                    <input type="text" name="brand" id="brand" class="form__input"
                        value="<%= locals.old && old.brand %>">
                    <% if (locals.errors && errors.brand) {%>
                        <small class="form__message">
                            <%= errors.brand.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="grape" class="form__label">Grape</label>
                    <input type="text" name="grape" id="grape" class="form__input">
                </div>

                <div class="form__group">
                    <label for="rating" class="form__label">Rating</label>
                    <input type="number" name="rating" id="rating" class="form__input">
                </div>

                <div class="form__group">
                    <label for="region" class="form__label">Region</label>
                    <input type="text" name="region" id="region" class="form__input">
                </div>

                <div class="form__group form__group--check">
                    <label for="inSale" class="form__checkbox__label">Is product for sale? </label>
                    <input type="radio" name="inSale" id="inSale" class="form__checkbox">
                </div>

                <div class="form__group form__group--check">
                    <label for="isSelected" class="form__checkbox__label">Is a selected product? </label>
                    <input type="radio" name="isSelected" id="isSelected" class="form__checkbox">
                </div>

                <div class="form__group">
                    <label for="image" class="form__label">Image</label>
                    <input type="file" name="image" accept="image/png, image/jpg, image/jpeg" id="image"
                        class="form__input">
                </div>

                <div class="form__group">
                    <button type="submit" class="btn btn--interactive">Create product</button>
                </div>

            </form>
        </section>

        <%- include('../partials/footer') %>

            <script src="/javascripts/utilities.js"></script>
</body>

</html>