<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Edit your account' }) %>
        <link rel="stylesheet" href="/styles/register.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <section class="section--padding">
            <form action="/users/edit/<%= userToEdit.userId %>?_method=PUT" method="POST" class="form" id="form">
                <h1 class="form__title">Edit your account</h1>
                <div class="form__group">
                    <label for="firstName" class="form__label">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="form__input" 
                    value="<%= userToEdit.firstName %> ">
                    <small class="form__message"></small>
                </div>

                <div class="form__group">
                    <label for="lastName" class="form__label">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form__input" 
                    value="<%= userToEdit.lastName %> ">
                    <small class="form__message"></small>
                </div>

                <div class="form__group">
                    <label for="email" class="form__label">Email</label>
                    <input type="email" name="email" id="email" class="form__input" 
                    value="<%= userToEdit.email %> ">
                    <small class="form__message"></small>
                </div>

                <div class="form__group">
                    <label for="password" class="form__label">Password</label>
                    <input type="password" name="password" id="password" class="form__input">
                    <small class="form__message"></small>
                </div>

                <div class="form__group">
                    <button type="submit" class="btn btn--primary">Save Changes</button>
                    <a href="/" class="form__link--login">Go back to Shop</a>
                </div>
            </form>
        </section>

        <section class="">
            <div class="form__group">
                <form action="/users/delete/:<%= userToEdit.userId %>?_method=DELETE" method="POST" class="form"></form>
                <button type="submit" class="btn btn--primary">Delete Account</button>
            </div>
        </section>

    <%- include('../partials/footer') %>

            <script src="/javascripts/utilities.js"></script>
            <script src="/javascripts/formValidation.js"></script>
</body>

</html>