<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Login to your account' }) %>
        <link rel="stylesheet" href="/styles/login.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <main class="main">
            <div class="main__form-container">
                <div class="form__heading">
                    <h1>Welcome Back!</h1>
                </div>
                <div class="form__inputs-container">
                    <form class="form-inputs" action="/users/login" method="POST">
                        <% if (locals.errors) { %> 
                            <% for (let oneError in errors) { %> 
                            <p><% errors[oneError].msg %></p> 
                            <% } %> 
                            <%  }%> 
                        <div class="email input">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="loginEmail" placeholder="johndoe@gmail.com" value="<%= locals.oldData ? oldData.email : null %>">
                            <% if (locals.errors && errors.email) { %> 
                                <small class="form__message">
                                <%=  errors.email.msg %>
                            </small>
                            <% } %> 
                        </div>
                        <div class="password input">
                            <label for="password">Password</label>
                            <input placeholder="**********" type="password" name="password">
                            <% if (locals.errors && errors.password) { %> 
                                <small class="form__message">
                                <%=  errors.password.msg %>
                            </small>
                            <% } %> 
                        </div>
                        <div class="">
                            <input type="checkbox" name="rememberMe" id="rememberMe" class="form__checkbox">
                            <label for="rememberMe" class="form__checkbox__label">Keep me logged in</label>
                        </div>
                        <div class="create-account-button input">
                            <button type="submit">SIGN IN</button>
                        </div>
                    </form>
                </div>
                <div class="alternative-login">
                    <a href="/users/register">New to Wine-not? Create your account!</a>
                </div>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer') %>
        </footer>
        <script src="/javascripts/utilities.js"></script>
</body>

</html>