<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Create your account' }) %>
        <link rel="stylesheet" href="/styles/register.css">
</head>

<body>
    <%- include('../partials/navbar') %>

        <section class="section--padding">
            <form action="/users/register" method="POST" class="form" id="form">
                <h1 class="form__title">Create your account</h1>
                <div class="form__group">
                    <label for="nickname" class="form__label">Nickname</label>
                    <input type="text" name="nickname" id="nickname" class="form__input"
                        value="<%= //locals.old && old.nickname %>">
                    <% if (locals.errors && errors.nickname) { %>
                        <small class="form__message">
                            <%=// errors.nickname.msg %>
                        </small>
                        <% } %>
                </div>
                <div class="form__group">
                    <label for="name" class="form__label">First Name</label>
                    <input type="text" name="name" id="name" class="form__input" value="<%=// locals.old && old.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <small class="form__message">
                            <%= //errors.name.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="lastName" class="form__label">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form__input"
                        value="<%= //locals.old && old.lastName %>">
                    <% if (locals.errors && errors.lastName) { %>
                        <small class="form__message">
                            <%= //errors.lastName.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="email" class="form__label">Email</label>
                    <input type="email" name="email" id="email" class="form__input"
                        value="<%=// locals.old && old.email %>">
                    <% if (locals.errors && errors.email) { %>
                        <small class="form__message">
                            <%= //errors.email.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="password" class="form__label">Password</label>
                    <input type="password" name="password" id="password" class="form__input"
                        value="<%= //locals.old && old.password %>">
                    <% if (locals.errors && errors.password) { %>
                        <small class="form__message">
                            <%= //errors.password.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="passwordRepeat" class="form__label">Repeat your password</label>
                    <input type="password" name="passwordRepeat" id="passwordRepeat" class="form__input"
                        value="<%= //locals.old && old.passwordRepeat %>">
                    <% if (locals.errors && errors.passwordRepeat) { %>
                        <small class="form__message">
                            <%= //errors.passwordRepeat.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <label for="birthdate" class="form__label">Birth date</label>
                    <input type="date" name="birthdate" id="birthdate" class="form__input"
                        value="<%= //locals.old && old.birthdate %>">
                    <% if (locals.errors && errors.birthdate) { %>
                        <small class="form__message">
                            <%= //errors.birthdate.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group form__group--check">
                    <input type="checkbox" name="terms" id="terms" class="form__checkbox"
                        value="accept<%= //locals.old && old.terms %>">
                    <label for="terms" class="form__checkbox__label">Please confirm you agree with the <a href="#"
                            target="_blank" rel="noopener noreferrer">Terms & Conditions</a></label>
                    <% if (locals.errors && errors.terms) { %>
                        <small class="form__message">
                            <%= //errors.terms.msg %>
                        </small>
                        <% } %>
                </div>

                <div class="form__group">
                    <button type="submit" class="btn btn--primary">Register</button>
                    <a href="/users/login" class="form__link--login">Already have an account? Log in here</a>
                </div>
            </form>
        </section>

        <%- include('../partials/footer') %>

            <script src="/javascripts/utilities.js"></script>
            <!-- <script src="/javascripts/formValidation.js"></script> -->
</body>

</html>